mixin dropdown-menu(docs)
	- const d = docs.options
	.dropdown-menu.dropdown-menu--base
		.dropdown-menu-header Документы
		.dropdown-menu-elements.dropdown-menu-elements--active
			.dropdown-menu
				.dropdown-menu-header 1 курс
				.dropdown-menu-elements.dropdown-menu-elements--active
					.dropdown-menu
						.dropdown-menu-header 1 семестр
						.dropdown-menu-elements
							A.dropdown-menu-el(href=`./docs/${d[0]}` download)= d[0]
							A.dropdown-menu-el(href=`./docs/${d[1]}` download)= d[1]
					.dropdown-menu
						.dropdown-menu-header 2 семестр
						.dropdown-menu-elements
							A.dropdown-menu-el(href=`./docs/${d[3]}` download)= d[3]
			.dropdown-menu
				.dropdown-menu-header 2 курс
				.dropdown-menu-elements.dropdown-menu-elements--active
					.dropdown-menu
						.dropdown-menu-header 3 семестр
						.dropdown-menu-elements
							A.dropdown-menu-el(href=`./docs/${d[4]}` download)= d[4]
							A.dropdown-menu-el(href=`./docs/${d[5]}` download)= d[5]
					.dropdown-menu
						.dropdown-menu-header 4 семестр
						.dropdown-menu-elements
							A.dropdown-menu-el(href=`./docs/${d[6]}` download)= d[6]
							A.dropdown-menu-el(href=`./docs/${d[7]}` download)= d[7]
							A.dropdown-menu-el(href=`./docs/${d[8]}` download)= d[8]
							A.dropdown-menu-el(href=`./docs/${d[9]}` download)= d[9]
							A.dropdown-menu-el(href=`./docs/${d[10]}` download)= d[10]
							A.dropdown-menu-el(href=`./docs/${d[11]}` download)= d[11]
							A.dropdown-menu-el(href=`./docs/${d[12]}` download)= d[12]
				.dropdown-menu
					.dropdown-menu-header 3 курс
					.dropdown-menu-elements.dropdown-menu-elements--active
						.dropdown-menu
							.dropdown-menu-header 5 семестр
							.dropdown-menu-elements
								A.dropdown-menu-el(href=`./docs/${d[13]}` download)= d[13]
								A.dropdown-menu-el(href=`./docs/${d[14]}` download)= d[14]
								A.dropdown-menu-el(href=`./docs/${d[15]}` download)= d[15]
								A.dropdown-menu-el(href=`./docs/${d[16]}` download)= d[16]
								A.dropdown-menu-el(href=`./docs/${d[17]}` download)= d[17]
								A.dropdown-menu-el(href=`./docs/${d[18]}` download)= d[18]
								A.dropdown-menu-el(href=`./docs/${d[19]}` download)= d[19]
								A.dropdown-menu-el(href=`./docs/${d[20]}` download)= d[20]
								A.dropdown-menu-el(href=`./docs/${d[21]}` download)= d[21]
								A.dropdown-menu-el(href=`./docs/${d[22]}` download)= d[22]
						.dropdown-menu
							.dropdown-menu-header 6 семестр
							.dropdown-menu-elements
								A.dropdown-menu-el(href=`./docs/${d[23]}` download)= d[23]
								A.dropdown-menu-el(href=`./docs/${d[24]}` download)= d[24]
								A.dropdown-menu-el(href=`./docs/${d[25]}` download)= d[25]
								A.dropdown-menu-el(href=`./docs/${d[26]}` download)= d[26]
								A.dropdown-menu-el(href=`./docs/${d[27]}` download)= d[27]
								A.dropdown-menu-el(href=`./docs/${d[28]}` download)= d[28]
								A.dropdown-menu-el(href=`./docs/${d[29]}` download)= d[29]
								A.dropdown-menu-el(href=`./docs/${d[30]}` download)= d[30]
								A.dropdown-menu-el(href=`./docs/${d[31]}` download)= d[31]
				.dropdown-menu
					.dropdown-menu-header 4 курс
					.dropdown-menu-elements.dropdown-menu-elements--active
						.dropdown-menu
							.dropdown-menu-header 7 семестр
							.dropdown-menu-elements
								A.dropdown-menu-el(href=`./docs/${d[32]}` download)= d[32]
								A.dropdown-menu-el(href=`./docs/${d[33]}` download)= d[33]
								A.dropdown-menu-el(href=`./docs/${d[34]}` download)= d[34]
								A.dropdown-menu-el(href=`./docs/${d[35]}` download)= d[35]
								A.dropdown-menu-el(href=`./docs/${d[36]}` download)= d[36]
								A.dropdown-menu-el(href=`./docs/${d[37]}` download)= d[37]
								A.dropdown-menu-el(href=`./docs/${d[38]}` download)= d[38]
								A.dropdown-menu-el(href=`./docs/${d[39]}` download)= d[39]
						.dropdown-menu
							.dropdown-menu-header 8 семестр
							.dropdown-menu-elements
								A.dropdown-menu-el(href=`./docs/${d[40]}` download)= d[40]
								A.dropdown-menu-el(href=`./docs/${d[41]}` download)= d[41]
								A.dropdown-menu-el(href=`./docs/${d[42]}` download)= d[42]
								A.dropdown-menu-el(href=`./docs/${d[43]}` download)= d[43]
