mixin text-list(listArr, isRegular, isNumeric)
	if isNumeric
		OL(class=`text-list ${isRegular ? "text-list--regular" : ""} ${isNumeric ? "text-list--numeric" : ""}`)
			each listItem, i in listArr
				LI.text-list__item= listItem
	else
		UL(class=`text-list ${isRegular ? "text-list--regular" : ""} ${isNumeric ? "text-list--numeric" : ""}`)
			each listItem, i in listArr
				LI.text-list__item= listItem
